<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">
   <head>
   <meta charset="utf-8">
   <title>Note Wrangler</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
   <script src='/js/vendor/markdown.js'></script>
   <script src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js'></script>
   <link rel="stylesheet" href="css/application.css" />
 </head>
   <body>
   <div class="nav-wrapper has-dropdown">
     <div class="nav-content">
       <div class="wrapper">
         <div class="nav-content-layout">
           <div class="nav-list">

             <a href="#/"
                class="list-item"
                ng-click="selected = 'notes'"
                ng-class="{'active': selected == 'notes'}"> Notes </a>
            <a href="#/users"
               class='list-item'
               ng-click="selected = 'users'"
               ng-class="{'active: selected == 'users'}"> Users </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-wrapper">
      <div class="hero-content">
        <div class="hero"></div>
      </div>
    </div>
    <div class="main-wrapper">

      <div ng-view></div>

      <div class="note-wrapper">
        <div class="note-content">
          <div class="notes-header">
            <h1 title="Notes">Notes</h1>
          </div>
          <div class="note-wrapper">
            <a class="card-notes"
               ng-repeat='note in notes'
               ng-href='#/notes/{{note.id}}'>
            </a>
              <div class="card" title='{{note.title}}'>
                <div ng-if='icon'>
                  <i class="icon icon-card {{note.icon}}"></i>
                </div>
                <div class="card" title="{{note.title}}">
              </div>

                <h2 class="h3">{{note.title}}</h2>
                <p>{{note.description}}</p>
              </div>

          </div>
        </div>
      </div>
    </div>
</body>
</html>
